{% include 'policeheader.html' %}
 <div class="container-fluid p-0 mb-5">
        <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
           
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="img-fluid" src="/static/img/carousel-1.jpg" alt="Image" style="height: 1000px">
                    <div class="carousel-caption d-flex align-items-center justify-content-center">
                        <div class="p-5" style="width: 100%; max-width: 900px;">
                        	<br><br>

<center>
	<h1 style="color: white">Mange Crimes</h1>
	
	<form method="post" enctype="multipart/form-data">
		{% if data['crime']%}
     <table class="table" style="width: 500px ;color: white">
     	    <tr>
     	    	<th>Crime Type</th>
     	    	<td><select name="type" class="form-control" required="">
     	    		     	    		{% for row in data ['crime'] %}

     	    		<option value="{{row['crime_type_id']}}">{{data['crime'][0]['crime_type_name']}}</option>
     	    		                     {% endfor %}

     	    		<option>Select</option>
     	    		{% for row in data ['cr'] %}
     	    		<option value="{{row['crime_type_id']}}">{{row['crime_type_name']}}</option>
                     {% endfor %}
     	    	</select></td>
     	    </tr>
     	    <tr>
     	    	<th>Station</th>
     	    	<td><select name="station" class="form-control" required="">
     	    		{% for row in data ['crime'] %}
     	    		<option value="{{row['station_id']}}">{{data['crime'][0]['station_name']}}</option>
     	    		{% endfor %}
     	    		<option>Select</option>
     	    		{% for row in data['st']%}
     	    		<option value="{{row['station_id']}}">{{row['station_name']}}</option>
     	    		{% endfor %}
     	    	</select></td>
     	    </tr>
			<tr>
				<th>Crime Tittle</th>
				<td><input type="text" name="crimetitle" class="form-control" required="" value="{{data['crime'][0]['crime_title']}}"></td>
			</tr>
			<tr>
				<th>Crime Description</th>
				<td><input type="text" name="crimedes" class="form-control" required="" value="{{data['crime'][0]['crime_description']}}"></td>
			</tr>
			<tr>
				<th>Date Time Occurred</th>
				<td><input type="datetime-local" name="occ" class="form-control" required="" value="{{data['crime'][0]['crime_time_occurred']}}"></td>
			</tr>
			<tr>
				<th>Date Time Reported</th>
				<td><input type="datetime-local" name="rep" class="form-control" required="" value="{{data['crime'][0]['crime_time_reported']}}"></td>
			</tr>
			<tr>
				<th>Crime Status</th>
				<td><input type="text" name="status" class="form-control" required="" value="{{data['crime'][0]['crime_status']}}"></td>
			</tr>
			<tr>
				<th>place</th>
				<td><input type="text" name="place" class="form-control" required="" value="{{data['crime'][0]['place']}}"></td>
			</tr>
			<tr>
				<th>Dob</th>
				<td><input type="date" name="dob" class="form-control" required="" value="{{data['crime'][0]['dob']}}"></td>
			</tr>
			<tr>
				<th>District</th>
				<td><input type="text" name="dis" class="form-control" required="" value="{{data['crime'][0]['district']}}"></td>
			</tr>
			
			<tr>
				<th>Image</th>
				<td><input type="file" name="imgg" class="form-control" required="" value="{{data['crime'][0]['image']}}"></td>
			</tr>
			
			<tr>
				<td  align="center" colspan="2"><input type="submit" class="btn btn-success" name="update" value="submit"></td>
			</tr>
		</table>
		{% else %}
	 <table class="table" style="width: 500px ;color: white">
     	    <tr>
     	    	<th>Crime Type</th>
     	    	<td><select name="type" class="form-control" required="">
     	    		<option>Select</option>
     	    		{% for row in data ['cr'] %}
     	    		<option value="{{row['crime_type_id']}}">{{row['crime_type_name']}}</option>
                     {% endfor %}
     	    	</select></td>
     	    </tr>
     	    <tr>
     	    	<th>Station</th>
     	    	<td><select name="station" class="form-control" required="">
     	    		<option>Select</option>
     	    		{% for row in data['st']%}
     	    		<option value="{{row['station_id']}}">{{row['station_name']}}</option>
     	    		{% endfor %}
     	    	</select></td>
     	    </tr>
			<tr>
				<th>Crime Tittle</th>
				<td><input type="text" class="form-control" required="" name="crimetitle"></td>
			</tr>
			<tr>
				<th>Crime Description</th>
				<td><input type="text" class="form-control" required="" name="crimedes"></td>
			</tr>
			<tr>
				<th>Date Time Occurred</th>
				<td><input type="datetime-local" class="form-control" required="" name="occ"></td>
			</tr>
			<tr>
				<th>Date Time Reported</th>
				<td><input type="datetime-local" class="form-control" required="" name="rep"></td>
			</tr>
			<tr>
				<th>Crime Status</th>
				<td><input type="text" class="form-control" required="" name="status"></td>
			</tr>
			<tr>
				<th>place</th>
				<td><input type="text" class="form-control" required="" name="place"></td>
			</tr>
			<tr>
				<th>Dob</th>
				<td><input type="date" class="form-control" required="" name="dob"></td>
			</tr>
			<tr>
				<th>District</th>
				<td><input type="text" class="form-control" required="" name="dis"></td>
			</tr>
			
			<tr>
				<th>Image</th>
				<td><input type="file" class="form-control" required="" name="imgg"></td>
			</tr>
			
			<tr>
				<td  align="center" colspan="2"><input type="submit" class="btn btn-success" name="crime" value="submit"></td>
			</tr>
		</table>
	{% endif %}
	</form>
</center>
</div></div></div></div></div></div>
<center>
	<table class="table" style="width: 500px">
		<tr>
			<th>slno</th>
			<th>Crime Type</th>
			<th>station Name</th>
			<th>Crime title</th>
			<th>Crime description</th>
			<th>Date Time Occurred</th>
			<th>Date Time Reported</th>
			<th>Crime Status</th>
			<th>Place</th>
			<th>Dob</th>
			<th>District</th>
			<th>Image</th>
		</tr>
		{% for row in data['cri']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['crime_type_name']}}</td>
			<td>{{row['station_name']}}</td>
			<td>{{row['crime_title']}}</td>
			<td>{{row['crime_description']}}</td>
			<td>{{row['date_time_reported']}}</td>
			<td>{{row['date_time_occurred']}}</td>
			<td>{{row['crime_status']}}</td>
			<td>{{row['cplace']}}</td>
			<td>{{row['dob']}}</td>
			<td>{{row['district']}}</td>
			<td><img src="/{{row['image']}}" width="100" height="100"></td>
			<td><a class="btn btn-success" href="?action=delete&cid={{row['crime_id']}}">Delete</a></td>
			<td><a class="btn btn-success" href="?action=update&cid={{row['crime_id']}}">Update</a></td>
		</tr>
		{% endfor %}
	</table>
</center>
{% include 'footer.html'%}